@media print {
  body * {
    visibility: hidden;
  }
  #thermal-receipt,
  #thermal-receipt * {
    visibility: visible;
  }
  #thermal-receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  @page {
    margin: 0;
  }
}
